# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Dream come ture gitignore
data/__pycache__/Animation.cpython-39.pyc
data/__pycache__/CharacterDataManager.cpython-39.pyc
data/__pycache__/Defs.cpython-39.pyc
data/__pycache__/Rank.cpython-39.pyc
data/__pycache__/Stage.cpython-39.pyc
data/__pycache__/StageDataManager.cpython-39.pyc
game/__pycache__/InfiniteGame.cpython-39.pyc
game/__pycache__/StageGame.cpython-39.pyc
menu/__pycache__/About.cpython-39.pyc
menu/__pycache__/CharacterSelectMenu.cpython-39.pyc
menu/__pycache__/DifficultySelectMenu.cpython-39.pyc
menu/__pycache__/HelpMenu.cpython-39.pyc
menu/__pycache__/LeaderBoardMenu.cpython-39.pyc
menu/__pycache__/LeaderBoardScrollMenu.cpython-39.pyc
menu/__pycache__/StageSelectMenu.cpython-39.pyc
object/__pycache__/Character.cpython-39.pyc
object/__pycache__/Effect.cpython-39.pyc
object/__pycache__/Item.cpython-39.pyc
object/__pycache__/Missile.cpython-39.pyc
object/__pycache__/Mob.cpython-39.pyc
object/__pycache__/Object.cpython-39.pyc
boss/__pycache__/Boss.cpython-39.pyc
boss/__pycache__/Bullet.cpython-39.pyc
boss/__pycache__/Gun.cpython-39.pyc
boss/__pycache__/Boss.cpython-38.pyc
boss/__pycache__/Bullet.cpython-38.pyc
boss/__pycache__/Gun.cpython-38.pyc
data/__pycache__/Animation.cpython-38.pyc
data/__pycache__/CharacterDataManager.cpython-38.pyc
data/__pycache__/Defs.cpython-38.pyc
data/__pycache__/Rank.cpython-38.pyc
data/__pycache__/Stage.cpython-38.pyc
data/__pycache__/StageDataManager.cpython-38.pyc
data/__pycache__/database_user.cpython-39.pyc
game/__pycache__/InfiniteGame.cpython-38.pyc
game/__pycache__/StageGame.cpython-38.pyc
game/__pycache__/StageGameplay.cpython-39.pyc
game/__pycache__/pvpGame.cpython-39.pyc
menu/__pycache__/About.cpython-38.pyc
menu/__pycache__/CharacterSelectMenu.cpython-38.pyc
menu/__pycache__/DifficultySelectMenu.cpython-38.pyc
menu/__pycache__/HelpMenu.cpython-38.pyc
menu/__pycache__/LeaderBoardMenu.cpython-38.pyc
menu/__pycache__/LeaderBoardScrollMenu.cpython-38.pyc
menu/__pycache__/StageSelectMenu.cpython-38.pyc
menu/__pycache__/ModeSelectMenu.cpython-39.pyc
menu/__pycache__/MypageMenu.cpython-39.pyc
menu/__pycache__/CharacterStoreMenu.cpython-39.pyc
object/__pycache__/Character.cpython-38.pyc
object/__pycache__/Effect.cpython-38.pyc
object/__pycache__/Item.cpython-38.pyc
object/__pycache__/Missile.cpython-38.pyc
object/__pycache__/Mob.cpython-38.pyc
object/__pycache__/Object.cpython-38.pyc
__pycache__/Login.cpython-39.pyc
__pycache__/Login2.cpython-39.pyc
__pycache__/Main.cpython-39.pyc
__pycache__/button.cpython-39.pyc
__pycache__/pvp.cpython-39.pyc

